{% extends 'pagina_inicial.html' %}
{% load widget_tweaks %}

{% block conteudo %}
{% csrf_token %}


<link rel="stylesheet" type="text/css"
href="/static/css/estilo.css">


  <form class="form-signin">
  <!--<img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <h4 class="h3 mb-3 font-weight-normal">LOGIN</h4> <br/> 
  <label  for="inputEmail" class="sr-only">Email</label> <p class="auten"> Email </p> <p class="auten">  {{ form.username }}
  {% render_field form.nome class="campo" placeholder="Digite o seu nome" %}</p>
  <!--<input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus> -->
  <label  for="inputPassword" class="sr-only">Senha</label>
</label> <p class="auten"> Senha</p> <p class="auten"> {{ form.password }}
  {% render_field form.nome class="campo" placeholder="Digite o seu nome" %}</p>
  <!--<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required> --> <br/>
  <div class="checkbox mb-3">
  </div>
  <p class="auten"><a class="auten" href="{% url 'usuario' %}"><button  class="btn btn-lg btn-primary " type="submit">Entrar</button></a></p>
</form>

{% endblock %}