{% extends 'pagina_inicial.html' %}
{% load widget_tweaks %}

{% block conteudo %}



  <link rel="stylesheet" type="text/css"
  href="/static/css/estilo.css">

  <form method="post" class="form-signin">
  {% csrf_token %}
  <!--<img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
  <p class="h3 mb-3 font-weight-normal">CADASTRE-SE</p>
  <label for="inputEmail" class="sr-only">Email</label> <p class="auten"> Email </p> <p class="auten">  {{ form.username }}
  <!-- {% render_field form.nome class="campo" placeholder="Digite o seu nome" %}</p>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>-->
  <label for="inputPassword" class="sr-only">Senha</label> <p class="auten"> Senha </p> <p class="auten">  {{ form.password1 }}
  <!--{% render_field form.nome class="campo" placeholder="Digite o seu nome" %}</p>
  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>-->
  <label for="inputPassword" class="sr-only">Repetir a senha:</label> <p class="auten"> Repetir a Senha: </p> <p class="auten">  {{ form.password2 }}
  <!--{% render_field form.nome class="campo" placeholder="Digite o seu nome" %}</p>
  <input type="password" id="inputPassword2" class="form-control" placeholder="Repetir a senha" required>
  <div class="checkbox mb-3">-->
  </div>
  <p class="auten"><a href="{% url 'usuario' %}"><button class="btn btn-lg btn-primary " type="submit">Cadastrar Usuário</button></a></p>
  </form>

{% endblock %}



<!--btn-block-->