<!doctype html>
{% load static %}

<html>

<link rel="stylesheet" type="text/css"
href="/static/css/css.css">

<head>
	<title>Catálogo de Maquiagens</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/modern-business.css' %}">
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta name="description" content="">
  	<meta name="author" content="">

</head>

<body>

<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

<div class="container">

   <h1 class="mt-12 mb-12">TRI-GIRLS Maquiagens</h1>


   <hr />

{% block conteudo %}

<p class="menu">
<a href="{% url 'login' %}"><button class="btn btn-lg btn-primary " type="submit">Página do Usuário</button></a> 
<a href="{% url 'cadastro' %}"><button class="btn btn-lg btn-primary" type="submit">Cadastre-se</button></a> 
</p>

<div class="row">
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
<p class="gloss"><img src="/static/lip.jpg" class="img-fluid img-thumbnail"  width="200px" height="200px"></p>
<h3 class="gloss"> Lip Tint </h3>
<p class="gloss"> Para garotas que não gostam de borrar o batom, o Lip Tint serve para dar uma coloração natural à boca</p>
</div>

<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
<p class="gloss"><img src="/static/paleta.jpg" class="img-fluid img-thumbnail"  width="200px" height="250px"></p>
<h3 class="gloss"> Paleta de Sombras </h3>
<p class="gloss"> Faça uma maquiagem no seu estilo com a diversidade de sombras de uma paleta bem pigmentada. </p>
</div>

<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
<p class="gloss"><img src="/static/bato.jpg" class="img-fluid img-thumbnail"  width="100px" height="100px"></p>
<h3 class="gloss"> Batom Pink Matte </h3>
<p class="gloss"> Use batons Matte para beijar e continuar linda! </p>
</div>
</div>
             

<!--<p><a href="{% url 'usuario' %}"><button type="button" class="btn btn-primary">Página do Usuário</button></a></p>
<p><a href="{% url 'cadastro' %}"><button type="button" class="btn btn-primary">Cadastrar-se</button></a></p>
<p><a href="{% url 'login' %}"><button type="button" class="btn btn-primary">Login</button></a></p> 
<p><a href="{% url 'usuario' %}"><button class="btn btn-lg btn-primary " type="submit">Página do Usuário</button></a> 
<a href="{% url 'cadastro' %}"><button class="btn btn-lg btn-primary" type="submit">Cadastre-se</button></a> 
<a href="{% url 'login' %}"><button class="btn btn-lg btn-primary" type="submit">Login</button></a></p>-->


      		{% endblock %}

				
			</div>
</body>
</html>