body{
    
    background-image: url(a.jpg);
}
h1,p 
{text-align: center}
.titulo
{
border-bottom: solid black 1px;
margin-bottom: 20px;
padding-top: 20px;
padding-bottom: 20px
}
.bandas
{text-align:center}